* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

header {
  text-align: center;
}

header li {
  padding: 10px;
  display: inline-block;
}

header li a {
  text-decoration: none;
}

header li a.active {
  font-size: 120%;
  font-weight: bold;
}

main.home {
  height: 800px;
  background-image: url(/images/molisana-home.jpg?cb7db241726fb646d7e1c8553429c07c);
  background-position: center;
  background-size: cover;
}

main.news {
  padding: 50px;
  text-align: center;
}

main.products {
  width: 80%;
  margin: 0 auto;
}

main.products .pasta-lunga,
main.products .pasta-corta,
main.products .pasta-cortissima {
  margin: 5px 0 40px;
  display: flex;
  flex-wrap: wrap;
}

main.products .pasta-lunga .box,
main.products .pasta-corta .box,
main.products .pasta-cortissima .box {
  width: calc(100% / 3);
  background-color: lightblue;
}

main.products .pasta-lunga .box img,
main.products .pasta-corta .box img,
main.products .pasta-cortissima .box img {
  width: 100%;
}

main.dettaglio {
  padding: 20px 0;
  text-align: center;
}

main.dettaglio .dettagli {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

main.dettaglio .scheda img {
  display: block;
  max-width: 100%;
}

main.dettaglio .scheda h3 {
  margin-top: 40px;
}

main.dettaglio .scheda p {
  margin: 0 auto;
  width: 70%;
  line-height: 1.6;
}

footer {
  margin-top: 100px;
}

footer img {
  max-height: 100%;
  max-width: 100%;
}

