header {
  text-align: center;
  li {
    padding: 10px;
    display: inline-block;
    a {
      text-decoration: none;
    }
    a.active {
      font-size: 120%;
      font-weight: bold;
    }
  }
}
