main.home {
  height: 800px;
  background-image: url('../../img/molisana-home.jpg');
  background-position: center;
  background-size: cover;
}

main.news {
  padding: 50px;
  text-align: center;
}

main.products {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  .box {
    width: calc(100% / 3);
    background-color: lightblue;
    img {
      width: 100%;
    }
  }
}

main.dettaglio {
  padding: 20px 0;
  text-align: center;
  .dettagli {
    padding: 20px;
    display: flex;
    justify-content: space-around;
  }
  .scheda {
    img {
      display: block;
      max-width: 100%;
    }
    h3 {
      margin-top: 40px;
    }
    p {
      margin: 0 auto;
      width: 70%;
      line-height: 1.6;
    }
  }
}
